PayPal/wsdl/PayPalSvc.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions ns:version="2.3" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:ns="urn:ebay:api:PayPalAPI" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ebl="urn:ebay:apis:eBLBaseComponents" xmlns:cc="urn:ebay:apis:CoreComponentTypes" targetNamespace="urn:ebay:api:PayPalAPI">
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:ebay:api:PayPalAPI" elementFormDefault="qualified" attributeFormDefault="unqualified">
			<import namespace="urn:ebay:apis:CoreComponentTypes" schemaLocation="CoreComponentTypes.xsd"/>
			<import namespace="urn:ebay:apis:eBLBaseComponents" schemaLocation="eBLBaseComponents.xsd"/>
			<!-- Custom Security header element-->
			<xs:element name="RequesterCredentials" type="ebl:CustomSecurityHeaderType"/>
			<!-- API Request/Responses -->
			<xs:element name="RefundTransactionRequest" type="ns:RefundTransactionRequestType"/>
			<xs:element name="RefundTransactionResponse" type="ns:RefundTransactionResponseType"/>
			<xs:element name="RefundTransactionReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:RefundTransactionRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="RefundTransactionRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="TransactionID" type="ebl:TransactionId">
								<annotation>
									<documentation>Unique identifier of the  transaction you are refunding.
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Character length and limitations: 17 single-byte alphanumeric characters 
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="RefundType" type="ebl:RefundPurposeTypeCodeType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Type of refund you are making
<br/>
										<br/>
										<b>Required</b>
									</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Refund amount. 
<br/>
										<br/>
Amount is <b>required</b>  if RefundType is Partial.
<br/>
										<br/>
NOTE: If RefundType is Full, do not set Amount.
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Memo" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Custom memo about the refund. 
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RefundTransactionResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<sequence>
							<element name="RefundTransactionID" type="ebl:TransactionId" minOccurs="0" maxOccurs="1" nillable="true">
								<annotation>
									<documentation>Unique transaction ID of the refund. 
<br/>
										<br/>
Character length and limitations:17 single-byte characters
</documentation>
								</annotation>
							</element>
							<element name="NetRefundAmount" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Amount subtracted from PayPal balance of original recipient of payment to make this refund 
</documentation>
								</annotation>
							</element>
							<element name="FeeRefundAmount" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Transaction fee refunded to original recipient of payment 
</documentation>
								</annotation>
							</element>
							<element name="GrossRefundAmount" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Amount of money refunded to original payer </documentation>
								</annotation>
							</element>
						</sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="GetTransactionDetailsRequest" type="ns:GetTransactionDetailsRequestType"/>
			<xs:element name="GetTransactionDetailsResponse" type="ns:GetTransactionDetailsResponseType"/>
			<xs:element name="GetTransactionDetailsReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:GetTransactionDetailsRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetTransactionDetailsRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="TransactionID" type="ebl:TransactionId">
								<annotation><documentation>Unique identifier of a transaction. 
<br/><br/>
<b>Required</b>
<br/><br/>
The details for some kinds of transactions cannot be retrieved with GetTransactionDetailsRequest. You cannot obtain details of bank transfer withdrawals, for example. 
<br/><br/>
Character length and limitations: 17 single-byte alphanumeric characters
</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetTransactionDetailsResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:PaymentTransactionDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="BillUserRequest" type="ns:BillUserRequestType"/>
			<xs:element name="BillUserResponse" type="ns:BillUserResponseType"/>
			<xs:element name="BillUserReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:BillUserRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="BillUserRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element ref="ebl:MerchantPullPaymentDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BillUserResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:BillUserResponseDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="TransactionSearchRequest" type="ns:TransactionSearchRequestType"/>
			<xs:element name="TransactionSearchResponse" type="ns:TransactionSearchResponseType"/>
			<xs:element name="TransactionSearchReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:TransactionSearchRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="TransactionSearchRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="StartDate" type="xs:dateTime" minOccurs="1" maxOccurs="1">
								<annotation><documentation>The earliest transaction date at which to start the search. No wildcards are allowed. 
<br/><br/>
<b>Required</b>
</documentation>
</annotation>
							</xs:element>
							<xs:element name="EndDate" type="xs:dateTime" minOccurs="0">
								<annotation><documentation>The latest transaction date to be included in the search 
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="Payer" type="ebl:EmailAddressType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by the buyer's email address 
<br/><br/>
Optional
<br/><br/>
Character length and limitations: 127 single-byte alphanumeric characters
</documentation></annotation>
							</xs:element>
							<xs:element name="Receiver" type="ebl:EmailAddressType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by the receiver's email address. If the merchant account has only one email, this is the primary email. Can also be a non-primary email.
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="ReceiptID" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by the PayPal Account Optional receipt ID
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="TransactionID" type="ebl:TransactionId" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by the transaction ID. 
<br/><br/>
Optional
<br/><br/>
The returned results are from the merchant's transaction records. 
<br/><br/>
Character length and limitations: 19 single-byte characters maximum
</documentation></annotation>
							</xs:element>
							<xs:element name="PayerName" type="ebl:PersonNameType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by the buyer's name 
<br/><br/>
Optional
<br/><br/>
Salutation: 20 single-byte character limit.
<br/><br/>
FirstName: 25 single-byte character limit.
<br/><br/>
MiddleName: 25 single-byte character limit.
<br/><br/>
LastName: 25 single-byte character limit.
<br/><br/>
Suffix: 12 single-byte character limit.
</documentation></annotation>
							</xs:element>
							<xs:element name="AuctionItemNumber" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by item number of the purchased goods.
<br/><br/>
Optional
<br/><br/>
To search for purchased items not related to auctions, set the AuctionItemNumber element to the value of the HTML item_number variable set in the shopping cart for the original transaction.</documentation></annotation>
							</xs:element>
							<xs:element name="InvoiceID" type="xs:string" minOccurs="0" maxOccurs="1">
							<annotation><documentation>Search by invoice identification key, as set by you for the original transaction. InvoiceID searches the invoice records for items sold by the merchant, not the items purchased. 
<br/><br/>
Optional
<br/><br/>
The value for InvoiceID must exactly match an invoice identification number. No wildcards are allowed. 
<br/><br/>
Character length and limitations: 127 single-byte characters maximum</documentation></annotation></xs:element>
							<xs:element name="CardNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
							<xs:element name="TransactionClass" type="ebl:PaymentTransactionClassCodeType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>
								Search by classification of transaction. Some kinds of possible classes of transactions are not searchable with TransactionSearchRequest. You cannot search for bank transfer withdrawals, for example. 
<br/><br/>
Optional
<br/><br/>
All: all transaction classifications.
<br/><br/>
Sent: only payments sent.
<br/><br/>
Received: only payments received.
<br/><br/>
MassPay: only mass payments.
<br/><br/>
MoneyRequest: only money requests.
<br/><br/>
FundsAdded: only funds added to balance.
<br/><br/>
FundsWithdrawn: only funds withdrawn from balance.
<br/><br/>
Referral: only transactions involving referrals.
<br/><br/>
Fee: only transactions involving fees.
<br/><br/>
Subscription: only transactions involving subscriptions.
<br/><br/>
Dividend: only transactions involving dividends.
<br/><br/>
Billpay: only transactions involving BillPay Transactions.
<br/><br/>
Refund: only transactions involving funds.
<br/><br/>
CurrencyConversions: only transactions involving currency conversions.
<br/><br/>
BalanceTransfer: only transactions involving balance transfers.
<br/><br/>
Reversal: only transactions involving BillPay reversals.
<br/><br/>
Shipping: only transactions involving UPS shipping fees.
<br/><br/>
BalanceAffecting: only transactions that affect the account balance.
<br/><br/>
ECheck: only transactions involving eCheck
</documentation></annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by transaction amount 
<br/><br/>
Optional
<br/><br/>
You must set the currencyID attribute to one of the three-character currency codes for any of the supported PayPal currencies. </documentation></annotation>
							</xs:element>
							<xs:element name="CurrencyCode" type="ebl:CurrencyCodeType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by currency code
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="Status" type="ebl:PaymentTransactionStatusCodeType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Search by transaction status 
<br/><br/>
Optional
<br/><br/>
Pending: The payment is pending. The specific reason the payment is pending is returned by the GetTransactionDetails APIPendingReason element. For more information, see PendingReason.
<br/><br/>
Processing: The payment is being processed.
<br/><br/>
Success: The payment has been completed and the funds have been added successfully to your account balance.
<br/><br/>
Denied: You denied the payment. This happens only if the payment was previously pending.
<br/><br/>
Reversed: A payment was reversed due to a chargeback or other type of reversal. The funds have been removed from your account balance and returned to the buyer.
</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="TransactionSearchResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:PaymentTransactions" minOccurs="0" maxOccurs="unbounded">
								<annotation><documentation>Results of a Transaction Search.</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="MassPayRequest" type="ns:MassPayRequestType"/>
			<xs:element name="MassPayResponse" type="ns:MassPayResponseType"/>
			<xs:element name="MassPayReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:MassPayRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="MassPayRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="EmailSubject" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Subject line of the email sent to all recipients. This subject is not contained in the input file; you must create it with your application. 
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ReceiverType" type="ebl:ReceiverInfoCodeType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Indicates how you identify the recipients of payments in all MassPayItems: either by EmailAddress (ReceiverEmail in MassPayItem), PhoneNumber (ReceiverPhone in MassPayItem), or by UserID (ReceiverID in MassPayItem). 
<br/>
										<br/>
										<b>Required. </b>You must specify one or the other of EmailAddress or UserID.
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="MassPayItem" type="ns:MassPayRequestItemType" minOccurs="1" maxOccurs="250">
								<annotation>
									<documentation>Details of each payment. A single MassPayRequest can include up to 250 MassPayItems. 
<br/>
										<br/>
										<b>Required</b>
									</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MassPayResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
				</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="MassPayRequestItemType">
				<xs:annotation>
					<xs:documentation>
					MassPayRequestItemType
				</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ReceiverEmail" type="ebl:EmailAddressType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Email address of recipient. 
<br/>
								<br/>
								<b>Required</b>
								<br/>
								<br/>
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br/>
								<br/>
Character length and limitations: 127 single-byte characters maximum.
</documentation>
						</annotation>
					</xs:element>
					<xs:element name="ReceiverPhone" type="xs:string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Phone number of recipient. 
<br/>
								<br/>
								<b>Required</b>
								<br/>
								<br/>
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br/>
<br/>
</documentation>
						</annotation>
					</xs:element>
					<xs:element name="ReceiverID" type="ebl:UserIDType" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Unique PayPal customer account number. This value corresponds to the value of PayerID returned by GetTransactionDetails. 
<br/>
								<br/>
								<b>Required</b>
								<br/>
								<br/>
You must specify ReceiverEmail, ReceiverPhone, or ReceiverID, but all MassPayItems in a request must use the same field to specify recipients.
<br/>
								<br/>
Character length and limitations: 17 single-byte characters maximum.
</documentation>
						</annotation>
					</xs:element>
					<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
						<annotation>
							<documentation>Payment amount. You must set the currencyID attribute to one of the three-character currency codes for any of the supported PayPal currencies. 
<br/>
								<br/>
								<b>Required</b>
								<br/>
								<br/>
You cannot mix currencies in a single MassPayRequest. A single request must include items that are of the same currency.
</documentation>
						</annotation>
					</xs:element>
					<xs:element name="UniqueId" type="xs:string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Transaction-specific identification number for tracking in an accounting system. 
<br/>
								<br/>
Optional
<br/>
								<br/>
Character length and limitations: 30 single-byte characters. No whitespace allowed.
</documentation>
						</annotation>
					</xs:element>
					<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1">
						<annotation>
							<documentation>Custom note for each recipient. 
<br/>
								<br/>
Optional
<br/>
								<br/>
Character length and limitations: 4,000 single-byte alphanumeric characters
</documentation>
						</annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="BAUpdateRequest" type="ns:BAUpdateRequestType"/>
			<xs:element name="BAUpdateResponse" type="ns:BAUpdateResponseType"/>
			<xs:element name="BillAgreementUpdateReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:BAUpdateRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="BAUpdateRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="MpID" type="ebl:MerchantPullIDType" minOccurs="1" maxOccurs="1">
								<annotation><documentation>Preapproved Payments billing agreement identification number. Corresponds to the FORM variable mp_id. 
<br/><br/>
<b>Required</b>
<br/><br/>
Character limit: 19 single-byte alphanumeric characters.
The format of a billing agreement identification number is the single-character prefix B, followed by a hyphen and an alphanumeric character string: <br/><br/>B-unique_alphanumeric_string 
</documentation></annotation>
							</xs:element>
							<xs:element name="Custom" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Custom annotation field for your exclusive use 
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation><documentation>Description of goods or services associated with the billing agreement 
<br/><br/>
Optional
</documentation></annotation>
							</xs:element>
							<xs:element name="MpStatus" type="ebl:MerchantPullStatusCodeType" minOccurs="0" maxOccurs="1">
								<annotation><documentation>The current status of the billing agreement
								<br/><br/>
Optional</documentation>
</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BAUpdateResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:BAUpdateResponseDetails"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="AddressVerifyRequest" type="ns:AddressVerifyRequestType"/>
			<xs:element name="AddressVerifyResponse" type="ns:AddressVerifyResponseType"/>
			<xs:element name="AddressVerifyReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:AddressVerifyRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="AddressVerifyRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Email" type="ebl:EmailAddressType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Email address of buyer to be verified. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Maximum string length: 255 single-byte characters Input mask: ?@?.??

</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Street" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>First line of buyer’s billing or shipping street address to be verified. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>For verification, input value of street address must match the first three single-byte characters of the street address on file for the PayPal account.
<br/>
										<br/>
Maximum string length: 35 single-byte characters Alphanumeric plus - , . ‘ # \ Whitespace and case of input value are ignored.
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Zip" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Postal code to be verified. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>

For verification, input value of postal code must match the first five single-byte characters of the postal code on file for the PayPal account.
<br/>
										<br/>
Maximum string length: 16 single-byte characters Whitespace and case of input value are ignored.
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AddressVerifyResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="ConfirmationCode" type="ebl:AddressStatusCodeType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Confirmation of a match, with one of the following tokens:
							<br/>
										<br/>
None: The input value of the Email object does not match any email address on file at PayPal.
	<br/>
										<br/>
Confirmed: If the value of the StreetMatch object is Matched, PayPal responds that the entire postal address is confirmed.
	<br/>
										<br/>
Unconfirmed: PayPal responds that the postal address is unconfirmed</documentation>
								</annotation>
							</xs:element>
							<xs:element name="StreetMatch" type="ebl:MatchStatusCodeType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>PayPal has compared the postal address you want to verify with the postal address on file at PayPal.
								<br/>
										<br/>
								None: The input value of the Email object does not match any email address on file at PayPal. In addition, an error response is returned. No further comparison of other input values has been made.
									<br/>
										<br/>
Matched: The street address matches the street address on file at PayPal.
	<br/>
										<br/>
Unmatched: The street address does not match the street address on file at PayPal. 
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ZipMatch" type="ebl:MatchStatusCodeType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>PayPal has compared the zip code you want to verify with the zip code on file for the email address. 
								<br/>
										<br/>
								None: The street address was unmatched. No further comparison of other input values has been made.
																<br/>
										<br/>Matched: The zip code matches the zip code on file at PayPal.
																								<br/>
										<br/>Unmatched: The zip code does not match the zip code on file at PayPal. 
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="CountryCode" type="ebl:CountryCodeType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Two-character country code (ISO 3166) on file for the PayPal email address. </documentation>
								</annotation>
							</xs:element>
							<xs:element name="PayPalToken" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>The token prevents a buyer from using any street address other than the address on file at PayPal during additional purchases he might make from the merchant. It contains encrypted information about the user’s street address and email address. You can pass the value of the token with the Buy Now button HTML address_api_token variable so that PayPal prevents the buyer from using any street address or email address other than those verified by PayPal. The token is valid for 24 hours. 
								<br/>
Character length and limitations: 94 single-byte characters
								</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="EnterBoardingRequest" type="ns:EnterBoardingRequestType"/>
			<xs:element name="EnterBoardingResponse" type="ns:EnterBoardingResponseType"/>
			<xs:element name="EnterBoardingReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:EnterBoardingRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="EnterBoardingRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element ref="ebl:EnterBoardingRequestDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="EnterBoardingResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="Token" type="ebl:ExpressCheckoutTokenType" minOccurs="1" maxOccurs="1">
								<annotation>
								<documentation>
								A unique token that identifies this boarding session. 
Use this token with the GetBoarding Details API call.
<br/><br/>
Character length and limitations: 64 alphanumeric characters. The token has the following format:
<br/><br/>
OB-61characterString</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="GetBoardingDetailsRequest" type="ns:GetBoardingDetailsRequestType"/>
			<xs:element name="GetBoardingDetailsResponse" type="ns:GetBoardingDetailsResponseType"/>
			<xs:element name="GetBoardingDetailsReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:GetBoardingDetailsRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetBoardingDetailsRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Token" type="ebl:ExpressCheckoutTokenType" minOccurs="1" maxOccurs="1">
								<annotation>
								<documentation>
								A unique token returned by the EnterBoarding API call that identifies this boarding session. 
<br/><br/>
<b>Required</b>
<br/><br/>
Character length and limitations: 64 alphanumeric characters. The token has the following format:
<br/><br/>
OB-61characterString</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetBoardingDetailsResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:GetBoardingDetailsResponseDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="SetExpressCheckoutRequest" type="ns:SetExpressCheckoutRequestType"/>
			<xs:element name="SetExpressCheckoutResponse" type="ns:SetExpressCheckoutResponseType"/>
			<xs:element name="SetExpressCheckoutReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:SetExpressCheckoutRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="SetExpressCheckoutRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element ref="ebl:SetExpressCheckoutRequestDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="SetExpressCheckoutResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="Token" type="ebl:ExpressCheckoutTokenType" minOccurs="1" maxOccurs="1">
								<annotation><documentation>A timestamped token by which you identify to PayPal that you are processing this payment with Express Checkout. The token expires after three hours. If you set Token in the SetExpressCheckoutRequest, the value of Token in the response is identical to the value in the request. 
								<br/><br/>
Character length and limitations: 20 single-byte characters
</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="GetExpressCheckoutDetailsRequest" type="ns:GetExpressCheckoutDetailsRequestType"/>
			<xs:element name="GetExpressCheckoutDetailsResponse" type="ns:GetExpressCheckoutDetailsResponseType"/>
			<xs:element name="GetExpressCheckoutDetailsReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:GetExpressCheckoutDetailsRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetExpressCheckoutDetailsRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Token" type="ebl:ExpressCheckoutTokenType" minOccurs="1" maxOccurs="1">
								<annotation><documentation>A timestamped token, the value of which was returned by SetExpressCheckoutResponse. 
<br/><br/>
<b>Required</b>
<br/><br/>
Character length and limitations: 20 single-byte characters
</documentation></annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetExpressCheckoutDetailsResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:GetExpressCheckoutDetailsResponseDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoExpressCheckoutPaymentRequest" type="ns:DoExpressCheckoutPaymentRequestType"/>
			<xs:element name="DoExpressCheckoutPaymentResponse" type="ns:DoExpressCheckoutPaymentResponseType"/>
			<xs:element name="DoExpressCheckoutPaymentReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoExpressCheckoutPaymentRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoExpressCheckoutPaymentRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element ref="ebl:DoExpressCheckoutPaymentRequestDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoExpressCheckoutPaymentResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:DoExpressCheckoutPaymentResponseDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoDirectPaymentRequest" type="ns:DoDirectPaymentRequestType"/>
			<xs:element name="DoDirectPaymentResponse" type="ns:DoDirectPaymentResponseType"/>
			<xs:element name="DoDirectPaymentReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoDirectPaymentRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoDirectPaymentRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element ref="ebl:DoDirectPaymentRequestDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoDirectPaymentResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
							<annotation>
							<documentation>
							The amount of the payment as specified by you on DoDirectPaymentRequest.</documentation></annotation></xs:element>
							<xs:element name="AVSCode" type="xs:string" minOccurs="1" maxOccurs="1">
					<annotation>
					<documentation>
					Address Verification System response code. Character limit: One single-byte alphanumeric character
				<table>
				<tr><th>AVS Code</th><th>Meaning</th><th>Matched Details</th></tr> 
<tr><td>A </td><td>Address</td><td>Address only (no ZIP) </td></tr> 
<tr><td>B </td><td>International “A”</td><td>Address only (no ZIP)</td></tr>  
<tr><td>C</td><td>International “N”</td><td> None </td></tr> 
<tr><td>D</td><td>International “X” </td><td>Address and Postal Code</td></tr>  
<tr><td>E </td><td>Not allowed for MOTO (Internet/Phone) transactions </td><td>Not applicable</td></tr> 
<tr><td>F </td><td>UK-specific “X”</td><td>Address and Postal Code </td></tr> 
<tr><td>G </td><td>Global Unavailable</td><td> Not applicable </td></tr>
<tr><td>I </td><td>International Unavailable</td><td>Not applicable </td></tr> 
<tr><td>N </td><td>No</td><td>None</td></tr>  
<tr><td>P</td><td>Postal (International “Z”)</td><td>Postal Code only (no Address) </td></tr>  
<tr><td>R</td><td>Retry</td><td>Not applicable</td></tr>   
<tr><td>S </td><td>Service not Supported </td><td>Not applicable </td></tr>
<tr><td>U </td><td>Unavailable</td><td>Not applicable </td></tr> 
<tr><td>W </td><td>Whole ZIP</td><td>Nine-digit ZIP code (no Address) </td></tr> 
<tr><td>X </td><td>Exact match </td><td>Address and nine-digit ZIP code</td></tr> 
<tr><td>Y </td><td>Yes</td><td>Address and five-digit ZIP</td></tr>  
<tr><td>Z </td><td>ZIP</td><td> Five-digit ZIP code (no Address)</td></tr> 
<tr><td>All others </td><td>Error Not applicable</td><td></td></tr>
</table>
</documentation></annotation>
							</xs:element>
							<xs:element name="CVV2Code" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
								<documentation>
								Result of the CVV2 check by PayPal.
								<table>
								<tr><th>CVV2 Code</th><th>Meaning</th><th>Matched Details</th></tr>   
<tr><td>M </td><td>Match</td><td>CVV2 </td></tr> 
<tr><td>N </td><td>No match </td><td>None</td></tr> 
<tr><td>P </td><td>Not Processed</td><td>Not applicable</td></tr>  
<tr><td>S</td><td>Service not Supported</td><td>Not applicable</td></tr>   
<tr><td>U </td><td>Unavailable</td><td>Not applicable</td></tr>  
<tr><td>X</td><td>No response</td><td>  Not applicable</td></tr> 
<tr><td>All others </td><td>Error</td><td>Not applicable </td></tr> 
</table>
</documentation></annotation>
							</xs:element>
							<xs:element name="TransactionID" type="ebl:TransactionId" minOccurs="1" maxOccurs="1">
							<annotation>
							<documentation>
							Transaction identification number.
							<br/><br/>
							Character length and limitations: 19 characters maximum.</documentation></annotation></xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoCaptureRequest" type="ns:DoCaptureRequestType"/>
			<xs:element name="DoCaptureResponse" type="ns:DoCaptureResponseType"/>
			<xs:element name="DoCaptureReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoCaptureRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoCaptureRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="AuthorizationID" type="ebl:AuthorizationId" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The authorization identification number of the payment you want to capture. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Character length and limits: 19 single-byte characters maximum
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Amount to authorize. You must set the currencyID attribute to USD. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,)
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="CompleteType" type="ebl:CompleteCodeType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Indicates if this capture is the last capture you intend to make. The default is Complete. If CompleteType is Complete, any remaining amount of the original reauthorized transaction is automatically voided. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Character length and limits: 12 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>An informational note about this settlement that is displayed to the payer in email and in  transaction history. 
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limits: 255 single-byte characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="InvoiceID" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Your invoice number or other identification number. 
<br/>
										<br/>
The InvoiceID value is recorded only if the authorization you are capturing is an order authorization, not a basic authorization.
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limits: 127 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoCaptureResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element ref="ebl:DoCaptureResponseDetails" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoReauthorizationRequest" type="ns:DoReauthorizationRequestType"/>
			<xs:element name="DoReauthorizationResponse" type="ns:DoReauthorizationResponseType"/>
			<xs:element name="DoReauthorizationReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoReauthorizationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoReauthorizationRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="AuthorizationID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The value of a previously authorized transaction identification number returned by a PayPal product. You can obtain a buyer's transaction number from the TransactionID element of the PayerInfo structure returned by GetTransactionDetailsResponse. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Character length and limits: 19 single-byte characters maximum
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Amount to reauthorize. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,).
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoReauthorizationResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="AuthorizationID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>A new authorization identification number.
								<br/>
										<br/>Character length and limits: 19 single-byte characters 
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoVoidRequest" type="ns:DoVoidRequestType"/>
			<xs:element name="DoVoidResponse" type="ns:DoVoidResponseType"/>
			<xs:element name="DoVoidReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoVoidRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoVoidRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="AuthorizationID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The value of the original authorization identification number returned by a PayPal product. 
<br/>
										<br/>
If you are voiding a transaction that has been reauthorized, use the ID from the original authorization, and not the reauthorization.
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Character length and limits: 19 single-byte characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>An informational note about this settlement that is displayed to the payer in email and in  transaction history. 
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limits: 255 single-byte characters
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoVoidResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="AuthorizationID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The authorization identification number you specified in the request. 
<br/>
										<br/>
Character length and limits: 19 single-byte characters
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="DoAuthorizationRequest" type="ns:DoAuthorizationRequestType"/>
			<xs:element name="DoAuthorizationResponse" type="ns:DoAuthorizationResponseType"/>
			<xs:element name="DoAuthorizationReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:DoAuthorizationRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="DoAuthorizationRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The value of the order’s transaction identification number returned by a PayPal product. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>Character length and limits: 19 single-byte characters maximum
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="TransactionEntity" type="ebl:TransactionEntityType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Type of transaction to authorize. The only allowable value is <b>Order</b>, which means that the transaction represents a customer order that can be fulfilled over 29 days. 
<br/>
										<br/>
Optional
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Amount to authorize. 
<br/>
										<br/>
										<b>Required</b>
										<br/>
										<br/>
Limitations: Must not exceed $10,000 USD in any currency. No currency symbol. Decimal separator must be a period (.), and the thousands separator must be a comma (,).
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="DoAuthorizationResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="TransactionID" type="xs:string" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>An authorization identification number. 
								<br/>
										<br/>
Character length and limits: 19 single-byte characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Amount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>The amount and currency you specified in the request. 
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="CreateMobilePaymentRequest" type="ns:CreateMobilePaymentRequestType"/>
			<xs:element name="CreateMobilePaymentResponse" type="ns:CreateMobilePaymentResponseType"/>
			<xs:element name="CreateMobilePaymentReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:CreateMobilePaymentRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="CreateMobilePaymentRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="PaymentType" type="ebl:MobilePaymentCodeType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Type of the payment
<br/>
										<br/>
										<b>Required</b>
									</documentation>
								</annotation>
							</xs:element>
							<xs:element name="PaymentAction" type="ebl:PaymentActionCodeType">
								<annotation>
									<documentation>
										How you want to obtain payment.  Defaults to Sale.
<br/>
										<br/>
										<b>Optional</b>
										<br/>
										<br/>
Authorization indicates that this payment is a basic authorization subject to settlement with PayPal Authorization and Capture.
<br/>
						<br/>
Sale indicates that this is a final sale for which you are requesting payment.
<br/>
						<br/>
									</documentation>
								</annotation>
							</xs:element>
							<xs:element name="SenderPhone" type="ebl:PhoneNumberType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Phone number of the user making the payment.
<br/>
										<br/>
										<b>Required</b>
										<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="RecipientType" type="ebl:MobileRecipientCodeType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Type of recipient specified, i.e., phone number or email address
<br/>
										<br/>
										<b>Required</b>
									</documentation>
								</annotation>
							</xs:element>
							<xs:element name="RecipientEmail" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Email address of the recipient
								<br/>
										<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="RecipientPhone" type="ebl:PhoneNumberType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Phone number of the recipipent
<br/>
										<br/>
										<b>Required</b>
										<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ItemAmount" type="cc:BasicAmountType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Amount of item before tax and shipping
<br/>
										<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Tax" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>The tax charged on the transaction
Tax
<br/>
										<br/>
Optional
<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Shipping" type="cc:BasicAmountType" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Per-transaction shipping charge
<br/>
										<br/>
Optional
<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ItemName" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Name of the item being ordered
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ItemNumber" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>SKU of the item being ordered
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Memo entered by sender in PayPal Website Payments note field.
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="CustomID" type="xs:string" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Unique ID for the order.  Required for non-P2P transactions
<br/>
										<br/>
Optional
<br/>
										<br/>
Character length and limitations: 255 single-byte alphanumeric characters
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="SharePhoneNumber" type="xs:integer" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Indicates whether the sender's phone number will be shared with recipient
<br/>
										<br/>
Optional
<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="ShareHomeAddress" type="xs:integer" minOccurs="0" maxOccurs="1">
								<annotation>
									<documentation>Indicates whether the sender's home address will be shared with recipient
<br/>
										<br/>
Optional
<br/>
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="CreateMobilePaymentResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<sequence>
						</sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="GetMobileStatusRequest" type="ns:GetMobileStatusRequestType"/>
			<xs:element name="GetMobileStatusResponse" type="ns:GetMobileStatusResponseType"/>
			<xs:element name="GetMobileStatusReq">
				<xs:complexType>
					<xs:sequence>
						<xs:element ref="ns:GetMobileStatusRequest"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:complexType name="GetMobileStatusRequestType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractRequestType">
						<xs:sequence>
							<xs:element name="Phone" type="ebl:PhoneNumberType" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Phone number for status inquiry
<br/>
										<br/>
										<b>Required</b>
										<br/>
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetMobileStatusResponseType">
				<xs:complexContent>
					<xs:extension base="ebl:AbstractResponseType">
						<xs:sequence>
							<xs:element name="IsActivated" type="xs:integer" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Indicates whether the phone is activated for mobile payments
<br/>
										<br/>
</documentation>
								</annotation>
							</xs:element>
							<xs:element name="PaymentPending" type="xs:integer" minOccurs="1" maxOccurs="1">
								<annotation>
									<documentation>Indicates whether there is a payment pending from the phone
<br/>
										<br/>
</documentation>
								</annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</schema>
	</wsdl:types>
	<wsdl:message name="RequesterCredentials">
		<wsdl:part name="RequesterCredentials" element="ns:RequesterCredentials"/>
	</wsdl:message>
	<wsdl:message name="RefundTransactionRequest">
		<wsdl:part name="RefundTransactionRequest" element="ns:RefundTransactionReq"/>
	</wsdl:message>
	<wsdl:message name="RefundTransactionResponse">
		<wsdl:part name="RefundTransactionResponse" element="ns:RefundTransactionResponse"/>
	</wsdl:message>
	<wsdl:message name="GetTransactionDetailsRequest">
		<wsdl:part name="GetTransactionDetailsRequest" element="ns:GetTransactionDetailsReq"/>
	</wsdl:message>
	<wsdl:message name="GetTransactionDetailsResponse">
		<wsdl:part name="GetTransactionDetailsResponse" element="ns:GetTransactionDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="BillUserRequest">
		<wsdl:part name="BillUserRequest" element="ns:BillUserReq"/>
	</wsdl:message>
	<wsdl:message name="BillUserResponse">
		<wsdl:part name="BillUserResponse" element="ns:BillUserResponse"/>
	</wsdl:message>
	<wsdl:message name="TransactionSearchRequest">
		<wsdl:part name="TransactionSearchRequest" element="ns:TransactionSearchReq"/>
	</wsdl:message>
	<wsdl:message name="TransactionSearchResponse">
		<wsdl:part name="TransactionSearchResponse" element="ns:TransactionSearchResponse"/>
	</wsdl:message>
	<wsdl:message name="MassPayRequest">
		<wsdl:part name="MassPayRequest" element="ns:MassPayReq"/>
	</wsdl:message>
	<wsdl:message name="MassPayResponse">
		<wsdl:part name="MassPayResponse" element="ns:MassPayResponse"/>
	</wsdl:message>
	<wsdl:message name="BillAgreementUpdateRequest">
		<wsdl:part name="BillAgreementUpdateRequest" element="ns:BillAgreementUpdateReq"/>
	</wsdl:message>
	<wsdl:message name="BAUpdateResponse">
		<wsdl:part name="body" element="ns:BAUpdateResponse"/>
	</wsdl:message>
	<wsdl:message name="AddressVerifyRequest">
		<wsdl:part name="AddressVerifyRequest" element="ns:AddressVerifyReq"/>
	</wsdl:message>
	<wsdl:message name="AddressVerifyResponse">
		<wsdl:part name="AddressVerifyResponse" element="ns:AddressVerifyResponse"/>
	</wsdl:message>
	<wsdl:message name="EnterBoardingRequest">
		<wsdl:part name="EnterBoardingRequest" element="ns:EnterBoardingReq"/>
	</wsdl:message>
	<wsdl:message name="EnterBoardingResponse">
		<wsdl:part name="EnterBoardingResponse" element="ns:EnterBoardingResponse"/>
	</wsdl:message>
	<wsdl:message name="GetBoardingDetailsRequest">
		<wsdl:part name="GetBoardingDetailsRequest" element="ns:GetBoardingDetailsReq"/>
	</wsdl:message>
	<wsdl:message name="GetBoardingDetailsResponse">
		<wsdl:part name="GetBoardingDetailsResponse" element="ns:GetBoardingDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="DoExpressCheckoutPaymentRequest">
		<wsdl:part name="DoExpressCheckoutPaymentRequest" element="ns:DoExpressCheckoutPaymentReq"/>
	</wsdl:message>
	<wsdl:message name="DoExpressCheckoutPaymentResponse">
		<wsdl:part name="DoExpressCheckoutPaymentResponse" element="ns:DoExpressCheckoutPaymentResponse"/>
	</wsdl:message>
	<wsdl:message name="SetExpressCheckoutRequest">
		<wsdl:part name="SetExpressCheckoutRequest" element="ns:SetExpressCheckoutReq"/>
	</wsdl:message>
	<wsdl:message name="SetExpressCheckoutResponse">
		<wsdl:part name="SetExpressCheckoutResponse" element="ns:SetExpressCheckoutResponse"/>
	</wsdl:message>
	<wsdl:message name="GetExpressCheckoutDetailsRequest">
		<wsdl:part name="GetExpressCheckoutDetailsRequest" element="ns:GetExpressCheckoutDetailsReq"/>
	</wsdl:message>
	<wsdl:message name="GetExpressCheckoutDetailsResponse">
		<wsdl:part name="GetExpressCheckoutDetailsResponse" element="ns:GetExpressCheckoutDetailsResponse"/>
	</wsdl:message>
	<wsdl:message name="DoDirectPaymentRequest">
		<wsdl:part name="DoDirectPaymentRequest" element="ns:DoDirectPaymentReq"/>
	</wsdl:message>
	<wsdl:message name="DoDirectPaymentResponse">
		<wsdl:part name="DoDirectPaymentResponse" element="ns:DoDirectPaymentResponse"/>
	</wsdl:message>
	<wsdl:message name="DoCaptureRequest">
		<wsdl:part name="DoCaptureRequest" element="ns:DoCaptureReq"/>
	</wsdl:message>
	<wsdl:message name="DoCaptureResponse">
		<wsdl:part name="DoCaptureResponse" element="ns:DoCaptureResponse"/>
	</wsdl:message>
	<wsdl:message name="DoReauthorizationRequest">
		<wsdl:part name="DoReauthorizationRequest" element="ns:DoReauthorizationReq"/>
	</wsdl:message>
	<wsdl:message name="DoReauthorizationResponse">
		<wsdl:part name="DoReauthorizationResponse" element="ns:DoReauthorizationResponse"/>
	</wsdl:message>
	<wsdl:message name="DoVoidRequest">
		<wsdl:part name="DoVoidRequest" element="ns:DoVoidReq"/>
	</wsdl:message>
	<wsdl:message name="DoVoidResponse">
		<wsdl:part name="DoVoidResponse" element="ns:DoVoidResponse"/>
	</wsdl:message>
	<wsdl:message name="DoAuthorizationRequest">
		<wsdl:part name="DoAuthorizationRequest" element="ns:DoAuthorizationReq"/>
	</wsdl:message>
	<wsdl:message name="DoAuthorizationResponse">
		<wsdl:part name="DoAuthorizationResponse" element="ns:DoAuthorizationResponse"/>
	</wsdl:message>
	<wsdl:message name="CreateMobilePaymentRequest">
		<wsdl:part name="CreateMobilePaymentRequest" element="ns:CreateMobilePaymentReq"/>
	</wsdl:message>
	<wsdl:message name="CreateMobilePaymentResponse">
		<wsdl:part name="CreateMobilePaymentResponse" element="ns:CreateMobilePaymentResponse"/>
	</wsdl:message>
	<wsdl:message name="GetMobileStatusRequest">
		<wsdl:part name="GetMobileStatusRequest" element="ns:GetMobileStatusReq"/>
	</wsdl:message>
	<wsdl:message name="GetMobileStatusResponse">
		<wsdl:part name="GetMobileStatusResponse" element="ns:GetMobileStatusResponse"/>
	</wsdl:message>	
	<wsdl:portType name="PayPalAPIInterface">
		<wsdl:operation name="RefundTransaction">
			<wsdl:input message="ns:RefundTransactionRequest"/>
			<wsdl:output message="ns:RefundTransactionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetTransactionDetails">
			<wsdl:input message="ns:GetTransactionDetailsRequest"/>
			<wsdl:output message="ns:GetTransactionDetailsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="BillUser">
			<wsdl:input message="ns:BillUserRequest"/>
			<wsdl:output message="ns:BillUserResponse"/>
		</wsdl:operation>
		<wsdl:operation name="TransactionSearch">
			<wsdl:input message="ns:TransactionSearchRequest"/>
			<wsdl:output message="ns:TransactionSearchResponse"/>
		</wsdl:operation>
		<wsdl:operation name="MassPay">
			<wsdl:input message="ns:MassPayRequest"/>
			<wsdl:output message="ns:MassPayResponse"/>
		</wsdl:operation>
		<wsdl:operation name="BillAgreementUpdate">
			<wsdl:input message="ns:BillAgreementUpdateRequest"/>
			<wsdl:output message="ns:BAUpdateResponse"/>
		</wsdl:operation>
		<wsdl:operation name="AddressVerify">
			<wsdl:input message="ns:AddressVerifyRequest"/>
			<wsdl:output message="ns:AddressVerifyResponse"/>
		</wsdl:operation>
		<wsdl:operation name="EnterBoarding">
			<wsdl:input message="ns:EnterBoardingRequest"/>
			<wsdl:output message="ns:EnterBoardingResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetBoardingDetails">
			<wsdl:input message="ns:GetBoardingDetailsRequest"/>
			<wsdl:output message="ns:GetBoardingDetailsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="CreateMobilePayment">
			<wsdl:input message="ns:CreateMobilePaymentRequest"/>
			<wsdl:output message="ns:CreateMobilePaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetMobileStatus">
			<wsdl:input message="ns:GetMobileStatusRequest"/>
			<wsdl:output message="ns:GetMobileStatusResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="PayPalAPIAAInterface">
		<wsdl:operation name="DoExpressCheckoutPayment">
			<wsdl:input message="ns:DoExpressCheckoutPaymentRequest"/>
			<wsdl:output message="ns:DoExpressCheckoutPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="SetExpressCheckout">
			<wsdl:input message="ns:SetExpressCheckoutRequest"/>
			<wsdl:output message="ns:SetExpressCheckoutResponse"/>
		</wsdl:operation>
		<wsdl:operation name="GetExpressCheckoutDetails">
			<wsdl:input message="ns:GetExpressCheckoutDetailsRequest"/>
			<wsdl:output message="ns:GetExpressCheckoutDetailsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DoDirectPayment">
			<wsdl:input message="ns:DoDirectPaymentRequest"/>
			<wsdl:output message="ns:DoDirectPaymentResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DoCapture">
			<wsdl:input message="ns:DoCaptureRequest"/>
			<wsdl:output message="ns:DoCaptureResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DoReauthorization">
			<wsdl:input message="ns:DoReauthorizationRequest"/>
			<wsdl:output message="ns:DoReauthorizationResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DoVoid">
			<wsdl:input message="ns:DoVoidRequest"/>
			<wsdl:output message="ns:DoVoidResponse"/>
		</wsdl:operation>
		<wsdl:operation name="DoAuthorization">
			<wsdl:input message="ns:DoAuthorizationRequest"/>
			<wsdl:output message="ns:DoAuthorizationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PayPalAPISoapBinding" type="ns:PayPalAPIInterface">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="RefundTransaction">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetTransactionDetails">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BillUser">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="TransactionSearch">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="MassPay">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="BillAgreementUpdate">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="AddressVerify">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="EnterBoarding">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetBoardingDetails">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="CreateMobilePayment">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetMobileStatus">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PayPalAPIAASoapBinding" type="ns:PayPalAPIAAInterface">
		<wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="DoExpressCheckoutPayment">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SetExpressCheckout">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="GetExpressCheckoutDetails">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DoDirectPayment">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DoCapture">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DoReauthorization">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DoVoid">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DoAuthorization">
			<wsdlsoap:operation/>
			<wsdl:input>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<wsdlsoap:header message="ns:RequesterCredentials" part="RequesterCredentials" use="literal"/>
				<wsdlsoap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PayPalAPIInterfaceService">
		<wsdl:port name="PayPalAPI" binding="ns:PayPalAPISoapBinding">
			<wsdlsoap:address location="https://api.sandbox.paypal.com/2.0/"/>
		</wsdl:port>
		<wsdl:port name="PayPalAPIAA" binding="ns:PayPalAPIAASoapBinding">
			<wsdlsoap:address location="https://api-aa.sandbox.paypal.com/2.0/"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
